<IfModule mod_rewrite.c>
    RewriteEngine On

    # Jika request belum menuju folder public, rewrite ke public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>
